footer {
  width: 100%;
  padding: 10px;
  background-color: #25282b;
  font-size: 0.8em;
}

footer > p,
footer > div > p {
  margin: 3px auto;
}

.link {
  color: #9fabb8;
  text-decoration: none;
}

.link:hover {
  color: #727a83;
}
