main {
  flex: 1;
}

main > .row {
  min-height: 100%;
}

.desc-container {
  position: relative;
  padding: 10px;
  background-color: #31373d;
}

.desc {
  position: sticky;
  top: 60px;
  font-size: 12px;
}

.items {
  padding: 10px;
  background-color: #4a535c;
}

.fold-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
}

.fold-container-in {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.6s ease-in, opacity 0.6s ease-in;
}

.fold-btn-container {
  position: relative;
}

.fold-btn {
  position: absolute;
  right: 20px;
  top: 0px;
}
