* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  background-color: #4a535c;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.error-horizontal {
  background-color: #31373d;
  padding: 50px;
  text-align: center;
}

.error-p {
  margin: 10px auto;
}

.error-link {
  color: #9fabb8;
  text-decoration: none;
}

.error-link:hover {
  color: #727a83;
}

.error-code {
  margin: auto 10px;
  font-size: 2em;
  font-variant: small-caps;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .error-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second-icon {
    display: none;
  }
}
