html {
  overflow: auto;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

#root {
  overflow: auto;
  height: 100%;
}

.wrapper {
  overflow: auto;
  height: 100%;
}

/* disables and darkens the rest of the site where popup is up */
.popup-active {
  pointer-events: none;
  filter: brightness(0.25);
}

/* popup styling */
.desc-popup {
  position: fixed;
  filter: none;
  width: 75vw;
  top: 10%;
  left: 50%;
  margin-left: -37.5vw;
  padding: 20px;
  background-color: #31373d;
  border: 2px solid white;
  border-radius: 20px;
  z-index: 1;
  max-height: 85vh;
  overflow-y: scroll;
}
