<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Platynowy Bóg - błąd {{ error_code }}</title>
    <link rel="stylesheet" href={{ url_for("static", filename="error.css")}}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="error-wrapper">
        <div class="error-horizontal">
            <p class="error-p">
              <img
                src={{"data:image/png;base64," + icon}}
                alt=""
              />
              <span class="error-code">Błąd {{ error_code }}</span>
              <img
                src={{"data:image/png;base64," + icon}}
                alt=""
              />
            </p>
            <p class="error-p">{{ message }}</p>
            <p class="error-p">Wróć do:</p>
            <p class="error-p"><a class="error-link" href={{ url_for("home")}}>Platynowy Bóg</a></p>
            <p class="error-p"><a class="error-link" href={{ url_for("apidocs")}}>🇬🇧 API documentation</a></p>
        </div>
    </div>
  </body>
</html>
