<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Platynowy Bóg - błąd {{ error_code }}</title>
    <link rel="stylesheet" href={{ url_for("static", filename="error.css")}}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
        <p>
          <img
            src={{"data:image/png;base64," + icon}}
            alt=""
          />
          <span class="error-code">Błąd {{ error_code }}</span>
          <img
            src={{"data:image/png;base64," + icon}}
            alt=""
          />
        </p>
        <p>{{ message }}</p>
        <p>Wróć do:</p>
        <p><a href={{ url_for("home")}}>Platynowy Bóg</a></p>
        <p><a href={{ url_for("apidocs")}}>🇬🇧 API documentation</a></p>
    </div>
  </body>
</html>
